In [1]:
import pyforest

# Hide warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('RU.txt', sep='\t')

In [3]:
df.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,country_code,cc2,admin1,admin2,admin3,admin4,population,elevation,dem,timezone,date
0,451747,Zyabrikovo,Zyabrikovo,NaN,56.84665,34.70480,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,204,Europe/Moscow,2011-07-09
1,451748,Znamenka,Znamenka,NaN,56.74087,34.02323,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,215,Europe/Moscow,2011-07-09
2,451749,Zhukovo,Zhukovo,NaN,57.26429,34.20956,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,237,Europe/Moscow,2011-07-09
3,451750,Zhitovo,Zhitovo,NaN,57.29693,34.41848,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,247,Europe/Moscow,2011-07-09
4,451751,Zhitnikovo,Zhitnikovo,NaN,57.20064,34.57831,P,PPL,RU,NaN,77,NaN,NaN,NaN,0,NaN,198,Europe/Moscow,2011-07-09

In [15]:
df['country_code'].unique()

array(['RU'], dtype=object)

In [13]:
df[df['country_code'] == 'US']

Empty DataFrame
Columns: [geonameid, name, asciiname, alternatenames, latitude, longitude, feature_class, feature_code, country_code, cc2, admin1, admin2, admin3, admin4, population, elevation, dem, timezone, date]
Index: []

In [11]:
df[['name', 'population']]

# .nlargest(20, ['population'], keep='first')

# .sort_values(by=['population'], ascending=False)

                         name  population
201199     Russian Federation   140702000
354647        European Russia   110000000
354649                Central    38438600
354650                  Volga    29900400
354654                Siberia    19254300
354651                  South    16141100
354648              Northwest    13583800
354653                   Ural    12082700
64225                  Moskva    11503501
64232                  Moscow    10381222
354652         North Caucasus     9496800
64256           Moscow Oblast     7095120
354655               Far East     6291900
81677      Krasnodarskiy Kray     5191490
75494         Sankt-Peterburg     5132000
38260        Saint Petersburg     5028000
165719  Sverdlovskaya Oblast’     4412629
40596     Rostovskaya Oblast’     4397303
117904          Bashkortostan     4072292
23564               Tatarstan     3786488

In [15]:
x = df['name']
y = df['population']

In [ ]:
plt.bar(x, height=y)