In [2]:
import sqlite3
import pandas as pd

In [13]:
conn = sqlite3.Connection('employees.db')

In [14]:
q = """
SELECT * FROM employees;

"""
pd.read_sql(q, conn)

DatabaseError: Execution failed on sql '
SELECT * FROM employees;

': no such table: employees